{% extends 'cbase.html' %}



{% block title %}

completed Projects


{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-12">
        <h3>Completed Projects</h3>
    </div>
    <table class="table table-dark table-hover">
        <tr>
            <th>S.NO</th>
            <th>Project Name</th>
            <th>Homeowner Name</th>
            <th>Status</th>
        
        </tr>
        {% for a in Applications %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{a.projectname}}</td>
            <td>{{a.homeowner.name}}</td>
        
            <td class=" bg-success">{{a.status}}</td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}